os: linux
language: java
services:
  - docker
cache: bundler
dist: focal
install: skip
stages:
  - name: test-branch
jobs:
  include:
    - stage: tests
      name: build4
      script: exit
after_success:
  - echo passed
  - echo $TRAVIS_TEST_RESULT
after_failure:
  - echo failed
  - echo $TRAVIS_TEST_RESULT
notifications:
  webhooks:
    urls:
      secure: CPUizUTKZF946KeVTCBwt/DUJM7TRz645y/+dnfYymHG982tHwxaOa5W9WNsgdKHrWKmr//6/khzMmaXH+cbLXyPJ5lg5dei/ktHopXrTsKCi/Fp+u8NQ0TPMyf7oIlLUbnY1jtcCPOZHRaYFx5rD5UmbCQZ56B8R/ceRv6AAP7H3FFWigXx2/EgPKqQOnDYZGyX39Bdny783PbE7eY0U1TKO0KBcB6RmtwygNkdEPnuu3N6tjHMWqa3lAmFve2YnUnk9zoRc6Kw/4VmA8PfN/j1FZyh2lkQecnvaBZpVGwouvG0cN+mEheWF7vpxw6dZ7B2fcWuNRdbdNbi/5rvQjNTIeW5deWT6+vbXhLc+lgQO3E+w4u4clCqgQKOI+6OJm3YPsy005+ZXNZdiF02vEpPZaSujRCyWjNSDlaymMlvoLWlK/P/EsYn1lz8nlkh9VLJoSIky1JLxlkprRR0uLd8aUjBCAl7O3xvnXd3LVgtlqTBctRvm6mFnG1aU2dPaO/9cBtWY7Dgs6OOdocXcQk5GHvIDY0a3/0ooWQ3z0ZTdPvNZ15GugNVwOntW/30NkgZopLM0N+BBsW4p/iYmUPxkPrcfJjX5vd4mpcUnitjWzHOihGqiz7y2SYst9qn/T4BPOuM0m+iEFvuXJcs6ycpB0ib3Bgag++Op6OER/I=
    msteams: true
