os: linux
language: java
services:
  - docker
cache: bundler
dist: focal
install: skip
stages:
  - name: test-branch
jobs:
  include:
    - stage: tests
      name: build4
      script: true
after_success:
  - echo passed
  - echo $TRAVIS_TEST_RESULT
after_failure:
  - echo failed
  - echo $TRAVIS_TEST_RESULT
notifications:
  webhooks:
    urls:
      url:
        secure: AFG+3PCzJSXPrD3mBA+BWnTuzbXh+wnugn+w8X9Pb/S1D+7CwfQcwa6sdyHSNDBhCCxYL+DRd/idinFhn4u5Rejbky4cTxGI3FPPRZgkAEFXQDsyS0ozBqA/e/qfCx0R5k04i7VLX5LHaKZHa36eVCRW3tbwXdOy+0sB4ytlXkrIMUhJbLFVn5REC2sGugehPyXU4sTQ70lfhC+SmFzS3lsjTDF+MjjQGbu8twjOEuPDbXqeeqB9U+WoCS1aK5wIvMKFgmrj9/kd0nE8UnLlhWz7RCo3ZdDIJUGv91T1dknZa0f1htvdFUEXeN+BIBEjfG2ejMhEjbr6qRgQGL0PNwrfYsoZnX9j0tlGeFATIJRVZ/ja4a6uUNmF3106cLKrQaRVSPazXV7t2a0b+oS66RJKUlza0/u/A3gCpkdq+MFL/uiJW/SPZk6ZwwYXmtdX5/cUmDn63wRDiPqEZ3OMkf6w3Hg6dnQOMEWhkD5w7ACUn5Ids2hKQrTifNBAsQuOAyC6DSS+gA+S2yOuYkyyLL3mfdicfWqlyHldD5cYcgc185L1P69MorLeq5GJ7EapyqxEBKjuVs5YCyOVj1gM0yevUQlRovHXoDP8+o4E0JPqpvwPDSadtlm/NAWhps8VxgGA1xAQJc5/WQPgTBD2IwC5Qy/SPhS+GmdbIXyUVFo=
      msteams: true
