os: linux
language: java
services:
  - docker
cache: bundler
dist: focal
install: skip
stages:
  - name: test-branch
jobs:
  include:
    - stage: tests
      name: testing1
      script: true
after_success:
  - echo passed
  - echo $TRAVIS_TEST_RESULT
after_failure:
  - echo failed
  - echo $TRAVIS_TEST_RESULT
notifications:
  webhooks:
    urls:
      - url: https://default8498120007044e2c82ffc288b51bc0.12.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/d93b3e30bd39414bb4f1d6efae007caa/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B4i4nWdVh06Bg2-uAY3Z4hFSjkeeNfQjCqHeNWGvG5Q
        msteams: true
    on_success: always
    on_failure: change
